.App {
  background-color: #000;
  color: #fff;
  height: 500px;
  width: 250px;
  border-radius: 20px;
  padding: 20px;
}

.display {
  height: 30%;
  text-align: right;
  /* background-color: red; */
  font-size: 3em;
  padding-top: 50px;
}

.buttons {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  padding-bottom: 50px;
}


