.button {
  background-color: #f2a733;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline-width: 0;
  transition: filter .25s;
}

@media (hover: hover) {
  .button:hover {
    filter: brightness(80%);
  }
}

.button:active {
    filter: brightness(70%);
}

.button.function {
  background-color: #333;
}

.button.cancel {
  background-color: #eb574e;
}

.button.equal {
  grid-row: 4 / span 2;
  grid-column: 4 / 5;
}
